
body 
{
    font-family: 'Courier New', Courier, monospace;

}

.title {
    text-align: center;
}

ul {
    text-align: center;
    padding-left: 0%;
    padding-top: 5%;
}

.cookie{
    padding-top: 5%;
}
